<div class="gb_section">
	{% if title %}
		<h2 class="gb_section_title">{{title}}</h2>
	{% endif %}
	<div class="gb_topics">
		{% for topic in topics %}
			<article class="gb_topic">
				<header class="gb_topic_header">
					{% if topic.image %}
						<img class="gb_topic_image" src="../../images/{{topic.image}}" />
					{% endif %}
					<h3 class="gb_topic_title">{% if topic.link %}<a class="gb_topic_link" href="{{topic.link}}">{% endif %}{{topic.title}}{% if topic.link %}</a>{% endif %}</h3>
					{% if topic.caption %}
						<p class="gb_topic_caption">{{topic.caption}}</p>
					{% endif %}
					{% if topic.subcaption %}
						<p class="gb_topic_caption">{{topic.subcaption}}</p>
					{% endif %}
				</header>
			</article>
		{% endfor %}
	</div>
</div>
