<div class="gb_trello_wrapper">
	{% if vars.trelloList == "" %}
		<div class="fs-lg-10 fs-xl-8 gb_typography">
			<h1 class="gb_trello_notification">Coming Soon!</h1>
		</div>
	{% endif %}
	{% set trelloList = [
		"Feature",
		"In-Content",
		"Full-Width",
		"Sidebar"
	] %}
	<div class="gb_trello_list">
		{% for label in trelloList %}
			<div class="gb_component_section" id="{{label}}">
				<header class="gb_component_section_header">
					<h2 class="gb_component_section_title" id="trelloList[{{label}}]">{{label}}</h2>
				</header>
				<div class="gb_component_section_body">
					<div class="gb_topics" data-section="trelloList[{{label}}]">
						{% for item in cards %}
							{% if item.label == label %}
								<a class="gb_topic gb_topic_trello trello_{{item.id}}" href="#trello_{{item.id}}">
									<header class="gb_topic_header">
										<img class="gb_topic_image" src="{{item.image}}" />
										<h3 class="gb_topic_title">
											<span class="gb_topic_link">{{item.name}}</span>
										</h3>
									</header>
								</a>
								<div class="gb_trello_detail" id="trello_{{item.id}}">
									<button class="gb_trello_detail_close">Components</button>
									<div class="gb_trello_detail_inner fs-lg-10 fs-xl-8 gb_typography">
										<h1 class="gb_trello_detail_title">{{item.name}}</h1>
										<img class="gb_trello_detail_image" src="{{item.image}}" />
										<div class="gb_trello_detail_content gb_typography">{{item.desc}}</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
