<div class="gb_trello_list">
	{% if trelloCards %}
		{% for group in deck %}
			<div class="gb_section" id="{{group.type}}">
				<div class="gb_section_header">
					<h2 class="gb_section_title" id="trelloList[{{group.type}}]">{{group.type}}</h2>
					<p class="gb_section_caption fs-lg-10 fs-xl-8">{{types[loop.index - 1].caption}}</p>
				</div>
				<div class="gb_section_body">
					<div class="gb_topics" data-section="{{label}}">
						{% for item in group.cards %}
							<a class="gb_topic trello_{{item.id}}" href="#trello_{{item.id}}">
								<h3 class="gb_topic_title">{{item.name}}</h3>
								<div class="gb_topic_figure">
									<img class="gb_topic_image" src="{{item.attachments[0].previews[3].url}}" />
								</div>
							</a>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	{% elseif templatesPage %}
		<div class="gb_section">
			<div class="gb_section_body">
				<div class="gb_topics" data-section="{{label}}">
					{% for item in templates %}
						<a class="gb_topic trello_{{item.id}}" href="#trello_{{item.id}}">
							<h3 class="gb_topic_title">{{item.name}}</h3>
							<div class="gb_topic_figure">
								<img class="gb_topic_image" src="{{item.attachments[0].previews[3].url}}" />
							</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endif %}
</div>