<div class="gb_section">
	<div class="gb_typography">
		<h2 id="typefaces">Typefaces</h2>
		<p>Served via {{fontsService}} service.</p>
		<div class="gb_types">
			{% for type in fonts %}
				<div class="gb_type">
					<h3 style="font-family: {{type.reference}};" class="gb_type_title">{{type.name}}</h3>
					{% for weight in type.weights %}
						<article class="gb_type_item" style="font-family: {{type.reference}}; font-weight: {% if weight.value == "light" %}300{% elseif weight.value == "normal" %}400{% elseif weight.value == "medium" %}500{% elseif weight.value == "semibold" %}600{% elseif weight.value == "bold" %}700{% elseif weight.value == "black" %}900{% elseif weight.value == "heavy" %}900{% endif %};{% if weight.style %} font-style: {{weight.style}};{% endif %}">
							<span class="gb_type_test">Aa</span>
							<span class="gb_type_weight">{{weight.value}} {{weight.style}}</span>
						</article>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</div>
