{#
	{% include "../partials/components/full-width/directory.twig" with {
		theme: "",
		title: "Directory List",
		directories: [
			{
				image: "1",
				name: "Lorem Ipsum",
				title: "Aenean commodo ligula eget",
				email: "email@example.com",
				description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.",
				href: "#"
			}
		]
	} %}
#}

<div class="directory{% if theme %} theme_{{theme}}{% endif %}">
	<div class="row">
		{% if title %}
			<header class="directory_header">
				<h2 class="directory_heading">{{title}}</h2>
			</header>
		{% endif %}
		<div class="directory_items" role="list" itemscope itemtype="http://schema.org/ItemList"{% if title %} aria-label="{{title}}"{% endif %}>
			{% for item in directories %}
				<div class="directory_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
					<meta itemprop="position" content="{{loop.index}}">
					<div class="directory_item_inner" itemscope itemtype="http://schema.org/Person">
						{% if item.image %}
							<figure class="directory_item_figure">
								<img class="directory_item_image" src="https://spacehold.it/150x200/{{item.image}}.jpg" alt="" itemprop="image">
							</figure>
						{% endif %}
						<div class="directory_item_wrapper">
							<header class="directory_item_header">
								<h3 class="directory_item_name" itemprop="name">{{item.name}}</h3>
								{% if item.title %}
									<div class="directory_item_title">{{item.title}}</div>
								{% endif %}
							</header>
							<div class="directory_item_body">
								{% if item.email %}
									<a class="directory_item_email" href="mailto:{{item.email}}" itemprop="email">{{item.email}}</a>
									{% endif %}
								{% if item.description %}
									<div class="directory_item_description" itemprop="description">
										<p>{{item.description}}</p>
									</div>
								{% endif %}
							</div>
							{% if item.href %}
								<footer class="directory_item_links">
									<a class="directory_item_link" href="{{item.href}}" itemprop="url">More Info</a>
								</footer>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
