<section class="flex_callout {{class}}">
	{% if background %}
		<div class="js-background flex_callout_background" data-background-options='{"source": {"0px": "//spacehold.it/740x740/{{background}}.jpg", "740px": "//spacehold.it/980x735/{{background}}.jpg", "980px": "//spacehold.it/1220x686/{{background}}.jpg"}}'></div>
	{% endif %}
	<div class="flex_callout_content">
		<header class="flex_callout_header">
			<h5 class="flex_callout_label">{{label}}</h5>
			<h1 class="flex_callout_heading">{{title}}</h1>
		</header>
		<div class="flex_callout_description">
			<p>{{description}}</p>
		</div>
		<div class="flex_callout_links">
			{% for link in flexLinks %}
				<a class="flex_callout_link" href="{{link.href}}">{{link.name}}</a>
			{% endfor %}
		</div>
	</div>
</section>
