<section class="flex_callout{% if theme %} theme_{{theme}}{% endif %}">
	{% if background %}
		{% include '../shared/background.twig' with {
			class: "flex_callout",
			sources: {
				"0px": img.wide.md,
				"980px": img.wide.lrg
			},
			image: 1
		} %}
	{% endif %}
	<div class="fs-row">
		<div class="fs-cell">
			<div class="flex_callout_body">
				<header class="flex_callout_header">
					<h2 class="flex_callout_label">{{label}}</h2>
					<h3 class="flex_callout_title">{{title}}</h3>
				</header>
				<div class="flex_callout_description">
					<p>{{description}}</p>
				</div>
				{% if links %}
					<div class="flex_callout_links">
						{% for link in links %}
							<a class="flex_callout_link" href="#">{{link.name}}</a>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
