{#
	{{site.symbol("chevron", "large")}}
#}

{% macro symbol(name, modifier) %}
	{% if name %}
		<svg class="symbol symbol_{{name}}{% if modifier %} symbol_{{modifier}}{% endif %}">
			<use xlink:href="#{{name}}"></use>
		</svg>
	{% endif %}
{% endmacro %}


{#
	{{site.image("component", img.wide.sml, 2)}}
#}

{% macro image(class, dimension, image) %}
	<img class="{{class}}_image" src="//spacehold.it/{{dimension}}/{{image}}.jpg" alt="">
{% endmacro %}


{#
	{{site.picture({
		class: "media",
		fallback: "placeholder",
		image: item.image,
		sources: {
			"1220px": img.wide.med,
			"500px": img.wide.sml
		}
	})}}
#}

{% macro picture(parameters) %}
	<picture class="{{parameters.class}}_picture">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		{% for key, source in parameters.sources %}
		<source media="(min-width: {{key}})" srcset="{% if source == "placeholder" %}../../images/placeholder.png{% else %}//spacehold.it/{{source}}/{{image}}.jpg{% endif %}">
		{% endfor %}
		<!--[if IE 9]></video><![endif]-->
		<img class="{{parameters.class}}_image" src="{% if parameters.fallback == "placeholder" %}../../images/placeholder.png{% else %}//spacehold.it/{{parameters.fallback}}/{{parameters.image}}.jpg{% endif %}" alt="">
	</picture>
{% endmacro %}


{#
	{{site.dropdown("component", ["Choices"])}}
#}

{% macro dropdown(class, choices) %}
	<div class="fs-dropdown-wrapper {{class}}_dropdown_wrapper">
		<select class="js-dropdown {{class}}_dropdown">
			{% for choice in choices %}
				<option value="{{choice}}">{{choice}}</option>
			{% endfor %}
		</select>
		<span class="fs-dropdown-icon {{class}}_dropdown_icon">
			<svg class="symbol symbol_caret_down">
				<use xlink:href="#caret_down"></use>
			</svg>
		</span>
	</div>
{% endmacro %}


{#
	{{site.input("text", "first_name", "First Name")}}
#}

{% macro input(type, id, label) %}
	<div class="form_element">
		<input type="{{type}}" id="{{id}}" />
		<label for="{{id}}">{{label}}</label>
	</div>
{% endmacro %}


{#
	{{site.textarea("text", "first_name", "First Name")}}
#}

{% macro textarea(id, label) %}
	<div class="form_element">
		<textarea id="{{id}}"></textarea>
		<label for="{{id}}">{{label}}</label>
	</div>
{% endmacro %}


{#
	{{site.choices("checkbox", [
		{
			name: "option-one",
			value: "Option One"
		}
	])}}
#}

{% macro choices(type, options) %}
	<div class="form_element">
		{% for option in options %}
			<label>
				<input type="{{type}}" name="{{option.name}}" value="{{option.value}}">
				<span class="{{type}}_label">{{option.value}}</span>
			</label>
		{% endfor %}
	</div>
{% endmacro %}
