{#
	{{site.anchor("Accordion")}}
	{% include inc ~ "accordion.twig" with {
		theme: "",
		collapse: false,
		grouped: "",
		title: "Lorem ipsum dolor sit amet",
		items: [
			{
				active: false,
				label: "Aenean vulputate eleifend tellus",
				description: "<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>"
			},
			{
				active: false,
				label: "Curabitur ullamcorper ultricies nisi",
				description: "<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p><p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>"
			}
		]
	} %}
#}

{% set guid = random() %}
<!-- Accordion -->
<div class="accordion{% if theme %} theme_{{theme}}{% endif %}" id="accordion_{{guid}}">
	{% if title %}
	<header class="accordion_header">
		<h2 class="accordion_title">{{title}}</h2>
	</header>
	{% endif %}
	<div class="js-accordion accordion_body">
		{% for item in items %}
		<div class="js-accordion-item js-accordion-item-{{guid}}-{{loop.index}} accordion_item">
			<h3 class="accordion_item_title">
				<button class="js-accordion-trigger js-swap accordion_item_button" id="js-accordion-trigger-{{guid}}-{{loop.index}}" data-swap-target=".js-accordion-item-{{guid}}-{{loop.index}}"{% if grouped == "" or grouped == null or grouped == true %} data-swap-group="accordion_group_{{guid}}"{% endif %}{% if collapse == false %} data-swap-options='{"collapse": false}'{% endif %}{% if item.active == true %} data-swap-active="true"{% endif %}>
					<span class="accordion_item_button_inner">
						<span class="accordion_item_button_label">{{item.label}}</span>
						<span class="accordion_item_button_icon" aria-hidden="true">{{site.icon("caret_down")}}</span>
					</span>
				</button>
			</h3>
			<div class="js-accordion-content js-accordion-content-{{guid}}-{{loop.index}} accordion_item_content" id="js-accordion-content-{{guid}}-{{loop.index}}" aria-label="{{item.label}}">
				<div class="accordion_item_description">
					{{item.description}}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!-- END: Accordion -->
