{#
	{{site.anchor("Topic Row")}}
	{% include "../components/in-content/topic-row.twig" with {
		title: "",
		items: [
			{
				title: "Financial Aid",
				image: 1,
				description: "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.",
				links: [
					{
						href: "#",
						name: "Learn More"
					}
				]
			}
		]
	} %}
#}

<!-- Topic Block -->
<div class="topic_block{% if theme %} theme_{{theme}}{% endif %}">
	{% if title %}
	<header class="topic_block_header">
		<h2 class="topic_block_title">{{title}}</h2>
	</header>
	{% endif %}
	<div class="topic_items">
		{% for item in items %}
		<article class="topic_row">
			<div class="topic_row_inner">
				{% if item.image %}
				<div class="topic_media">
					<figure class="topic_figure">
						{{site.image("topic", img.square.xsml, item.image)}}
					</figure>
				</div>
				{% endif %}
				<div class="topic_wrapper">
					<header class="topic_header">
						<h3 class="topic_title">{{item.title}}</h3>
					</header>
					<div class="topic_body">
						<div class="topic_description">
							<p>{{item.description}}</p>
						</div>
					</div>
					{% if item.links %}
					<footer class="topic_links">
						{% for link in item.links %}
						{{site.button("topic", link.name, link.href, "arrow_right")}}
						{% endfor %}
					</footer>
					{% endif %}
				</div>
			</div>
		</article>
		{% endfor %}
	</div>
</div>
<!-- END: Topic Block -->
