<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	{% block page %}
		{% set page = {
			title: "Page",
			layout: "default"
		} %}
	{% endblock %}

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>{{page.title}} | {{vars.name}}</title>
		<meta name="description" content="">

		{% include "../partials/favicons.html" %}

		<!-- G+ & Facebook -->
		<meta property="og:title" content="{{vars.name}}">
		<meta property="og:url" content="//{{vars.domain}}/">
		<meta property="og:type" content="website">
		<meta property="og:image" content="//{{vars.domain}}/images/social-rectangle.png">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="{{vars.name}}">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@{{vars.twitter}}">
		<meta name="twitter:creator" content="@{{vars.twitter}}">
		<meta name="twitter:url" content="//twitter.com/{{vars.twitter}}">
		<meta name="twitter:title" content="{{vars.name}}">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="//{{vars.domain}}/images/social-rectangle.png">

		<script src="../js/modernizr.js"></script>

		{% if page.stylesheets %}
			{% for script in page.stylesheets %}
				<link rel="stylesheet" href="{{script}}">
			{% endfor %}
		{% endif %}

		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="../css/site.css">
		<!--<![endif]-->
		<!--[if IE 8]>
			<script>var IE8 = true;</script>
			<script src="../../js/site-ie8.js"></script>
			<link rel="stylesheet" href="../../css/site-ie8.css">
		<![endif]-->
		<!--[if IE 9]>
			<script>var IE9 = true;</script>
			<script src="../../js/site-ie9.js"></script>
			<link rel="stylesheet" href="../../css/site-ie9.css">
		<![endif]-->
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../css/site-ie.css">
		<![endif]-->
	</head>

	<body class="layout_{{page.layout}}">

		<figure style="display: none;">
			{% include '../../static/svg/sprite.symbol.svg' %}
		</figure>

		{% block activePage %}
			{% set activePage = 0 %}
		{% endblock %}

		{% block sectionTitle %}
			{% set sectionTitle = "" %}
		{% endblock %}

		{% block mainNav %}
			{% set mainNavAlias = links.mainNav %}
		{% endblock %}

		{% block breadcrumbNav %}
			{% set breadcrumbNav = [
				page.title
			] %}
		{% endblock %}

		{% block subNav %}
			{% set subNavAlias = links.subNav %}
		{% endblock %}

		{% block secondaryNav %}
			{% set secondaryNavAlias = links.secondaryNav %}
		{% endblock %}

		{% block utilityNav %}
			{% set utilityNavAlias = links.utilityNav %}
		{% endblock %}

		{% block quickNav %}
			{% set quickNavAlias = links.quickNav %}
		{% endblock %}

		{% block footerNav %}
			{% set footerNavAlias = links.footerNav %}
		{% endblock %}

		{% block socialNav %}
			{% set socialNavAlias = links.socialNav %}
		{% endblock %}

		{% include '../partials/update-notice.twig' %}

		{% import '../partials/macros.twig' as site %}

		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#main_content">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="js-navigation_push page_wrapper">
			<!-- Header -->
			{% if page.layout != "style-guide" %}
				<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
					<div class="header_ribbon">
						<div class="row">
							{% include "../partials/logo.twig" with {
								modifier: "header",
								symbol: true
							} %}

							{% include "../partials/navigation/main.twig" with {
								modifier: "lg",
								title: "Site Navigation",
								links: mainNavAlias,
								active: activePage
							} %}

							{% include "../partials/navigation/basic.twig" with {
								class: "secondary_nav",
								modifier: "lg",
								title: "Secondary Navigation",
								links: secondaryNavAlias
							} %}

							<a class="mobile_sidebar_handle_wrapper" href="#mobile_sidebar">
								<span class="js-nav_handle mobile_sidebar_handle">Menu</span>
							</a>

							<a class="site_search_handle" href="#site_search_lg">
								<span class="site_search_handle_label">Search</span>
								<span class="site_search_handle_icon">{{site.symbol("search")}}</span>
							</a>

							{% include "../partials/search.twig" with {
								modifier: "",
								placeholder: "Search",
								buttonText: "submit"
							} %}
						</div>
					</div>
				</header>
			{% endif %}
			<!-- END: Header -->

			<!-- Page -->
			<div class="page">
				<!-- Page Feature -->
				<div class="page_feature">
					{% block page_feature %}{% endblock %}
				</div>
				<!-- END: Page Feature -->

				<!-- Page Content -->
				<div class="page_content">
					<div class="row">
						{% if page.layout == "default" or page.layout == "style-guide" %}
							<!-- Sub Nav -->
							<div class="aside_cell subnav_cell">
								{% include "../partials/navigation/sub.twig" with {
									title: sectiontitle,
									links: subNavAlias
								} %}
							</div>
							<!-- END: Sub Nav -->
						{% endif %}

						<!-- Main Content -->
						<div class="content_cell">
							<main class="main_content" id="main_content" itemprop="mainContentOfPage">
								<!-- Page Header -->
								{% block page_header %}
									<div class="page_header">
										{% if page.layout != "style-guide" %}
											{% include "../partials/navigation/breadcrumb.twig" with {
												links: breadcrumbNav
											} %}
										{% endif %}

										{% if page.title %}
											<div class="typography">
												<h1 class="page_title" id="page_title">{{page.title}}</h1>
											</div>
										{% endif %}
									</div>
								{% endblock %}
								<!-- END: Page Header -->

								<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
								<div class="typography">
									{% block typography %}{% endblock %}
								</div>
								<!-- END: WYSIWYG -->

								<!-- In Content Callouts -->
								<div class="in_content_callouts">
									{% block in_content_callouts %}{% endblock %}
								</div>
								<!-- END: In Content Callouts -->
							</main>
						</div>
						<!-- END: Main Content -->

						{% if page.layout == "default" or page.layout == "style-guide" %}
							<!-- Sidebar Callouts -->
							<div class="aside_cell sidebar_cell">
								<div class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
									{% block sidebar %}{% endblock %}
								</div>
							</div>
							<!-- END: Sidebar Callouts -->
						{% endif %}
					</div>

					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
						{% block full_width_callouts %}{% endblock %}
					</div>
					<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</div>
			<!-- END: Page -->

			<!-- Footer -->
			{% if page.layout != "style-guide" %}
				<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
					<div class="footer_ribbon">
						<div class="row">
							{% include "../partials/address.twig" with {
								name: "Fastspot",
								street: "2980 Falls Road",
								city: "Baltimore",
								state: "MD",
								zip: "21211",
								tel: "202-432-1200"
							} %}

							{% include "../partials/navigation/basic.twig" with {
								class: "footer_nav",
								title: "Footer Navigation",
								links: footerNavAlias
							} %}

							{% include "../partials/navigation/social.twig" with {
								title: "Social Navigation",
								links: socialNavAlias
							} %}
						</div>
					</div>
				</footer>
			{% endif %}
			<!-- END: Footer -->
		</div>
		<!-- END: page_wrapper -->

		<div class="js-navigation mobile_sidebar" id="mobile_sidebar" hidden data-navigation-handle=".js-nav_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"type": "overlay", "gravity": "right"}'>
			{% include "../partials/navigation/main.twig" with {
				modifier: "sm",
				links: mainNavAlias,
				active: activePage
			} %}

			{% include "../partials/navigation/basic.twig" with {
				class: "secondary_nav",
				modifier: "sm",
				title: "Secondary Navigation",
				links: secondaryNavAlias
			} %}
		</div>

		<script src="../js/site.js"></script>

		{% if page.javascripts %}
			{% for script in page.javascripts %}
				<script src="{{script}}"></script>
			{% endfor %}
		{% endif %}

		{% include "../partials/grid.twig" %}
	</body>
</html>
