<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	{# Component Use #}
	{% set feat = "../components/feature/" %}
	{% set full = "../components/full-width/" %}
	{% set inc = "../components/in-content/" %}
	{% set side = "../components/sidebar/" %}
	{% set par = "../../partials/" %}

	{% set bg = par ~ "background.twig" %}
	{% set bgv = par ~ "background-video.twig" %}
	{% set picture = par ~ "picture.twig" %}

	{% set grid = true %}

	{% block page %}
		{% set page = {
			title: "Page",
			layout: "default"
		} %}
	{% endblock %}

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>{{page.title}} | {{vars.name}}</title>
		<meta name="description" content="{{vars.description}}">

		{% include "../partials/favicons.html" %}

		<!-- G+ & Facebook -->
		<meta property="og:title" content="{% if page.title %}{{page.title}}{% else %}{{vars.name}}{% endif %}">
		<meta property="og:type" content="website">
		<meta property="og:image" content="{% if page.metaImage %}{{page.metaImage}}{% else %}http://{{vars.domain}}/images/social-sq.png{% endif %}">
		<meta property="og:image:width" content="{% if page.metaImageWidth %}{{page.metaImageWidth}}{% else %}800{% endif %}">
		<meta property="og:image:height" content="{% if page.metaImageHeight %}{{page.metaImageHeight}}{% else %}800{% endif %}">
		<meta property="og:description" content="{% if page.intro %}{{page.intro}}{% else %}{{vars.description}}{% endif %}">
		<meta property="og:site_name" content="{{vars.name}}">

		{% if vars.twitter != "TwitterName" %}
		<!-- Twitter -->
		<meta name="twitter:card" content="{% if page.metaCard %}{{page.metaCard}}{% else %}summary{% endif %}">
		<meta name="twitter:site" content="@{{vars.twitter}}">
		<meta name="twitter:creator" content="@{{vars.twitter}}">
		<meta name="twitter:url" content="//twitter.com/{{vars.twitter}}">
		<meta name="twitter:title" content="{% if page.title %}{{page.title}}{% else %}{{vars.name}}{% endif %}">
		<meta name="twitter:description" content="{% if page.intro %}{{page.intro}}{% else %}{{vars.description}}{% endif %}">
		<meta name="twitter:image" content="{% if page.metaImage %}{{page.metaImage}}{% else %}http://{{vars.domain}}/images/social-sq.png{% endif %}">
		{% endif %}

		<script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://www.youtube.com/iframe_api"></script>

		{% if page.stylesheets %}
		{% for styles in page.stylesheets %}
		<link rel="stylesheet" href="{{styles}}">
		{% endfor %}
		{% endif %}

		<link rel="stylesheet" href="../../css/site.css?{{ 'now'|date('U') }}">
	</head>

	<body class="preload fs-grid page_layout_{{page.layout}}{% if page.theme %} page_theme_{{page.theme}}{% endif %}">

		{% block activePage %}
			{% set activePage = 0 %}
		{% endblock %}

		{% block sectionTitle %}
			{% set sectionTitle = page.title %}
		{% endblock %}

		{% block mainNav %}
			{% set mainNavAlias = links.mainNav %}
		{% endblock %}

		{% block breadcrumbNav %}
			{% set breadcrumbNav = [
				page.title
			] %}
		{% endblock %}

		{% block subNav %}
			{% set subNavAlias = links.subNav %}
		{% endblock %}

		{% block secondaryNav %}
			{% set secondaryNavAlias = links.secondaryNav %}
		{% endblock %}

		{% block utilityNav %}
			{% set utilityNavAlias = links.utilityNav %}
		{% endblock %}

		{% block quickNav %}
			{% set quickNavAlias = links.quickNav %}
		{% endblock %}

		{% block footerNav %}
			{% set footerNavAlias = links.footerNav %}
		{% endblock %}

		{% block socialNav %}
			{% set socialNavAlias = links.socialNav %}
		{% endblock %}

		{% include '../partials/update-notice.twig' %}

		{% import '../partials/macros.twig' as site %}

		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#page_main_content">Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="page_wrapper">
			{% if page.layout != "style-guide" %}
				<!-- Header -->
				<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
					<div class="header_ribbon">
						<div class="fs-row">
							<div class="fs-cell">
								<div class="header_ribbon_inner">
									{% include "../partials/logo.twig" with {
										modifier: "header",
										icon: "logo"
									} %}

									{% include "../partials/navigation/main.twig" with {
										modifier: "lg",
										links: mainNavAlias,
										active: activePage,
										icon: "caret_down"
									} %}

									{% include "../partials/navigation/basic.twig" with {
										class: "secondary_nav",
										modifier: "lg",
										title: "Secondary",
										links: secondaryNavAlias
									} %}

									<div class="header_group">
										{% include "../partials/handle.twig" with {
											class: "menu",
											modifier: "primary",
											label: "Menu"
										} %}

										{% include "../partials/search-handle.twig" %}

										{% include "../partials/search.twig" with {
											modifier: "lg",
											placeholder: "Search",
											buttonText: ""
										} %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- END: Header -->
			{% endif %}

			<!-- Page -->

			<div class="page_inner">
				{% if page.layout != "home" %}
				<!-- Page Feature -->
				<div class="page_feature">
					{% block page_feature %}
					{% endblock %}
				</div>
				<!-- END: Page Feature -->
				{% endif %}

				<!-- Page Content -->
				<div class="page_content">
					{% if page.layout != "home" %}
					<div class="fs-row">
						{% if page.layout == "default" or page.layout == "style-guide" %}
						<!-- Sub Nav -->
						<div class="fs-cell-right fs-lg-4 page_aside page_sub_nav">
							{% include "../partials/navigation/sub.twig" with {
								title: sectionTitle,
								links: subNavAlias
							} %}
						</div>
						<!-- END: Sub Nav -->
						{% endif %}

						<!-- Main Content -->
						<main class="fs-cell{% if page.layout == "default" or page.layout == "style-guide" %} fs-lg-8{% elseif page.layout == "full" %} fs-lg-10 fs-all-justify-center{% endif %} page_main_content" id="page_main_content" itemprop="mainContentOfPage" tabindex="-1">
							<!-- Page Header -->
							{% block page_header %}
							<div class="page_header">
								{% include "../partials/navigation/breadcrumb.twig" with {
									links: breadcrumbNav
								} %}

								{% if page.title %}
								<h1 class="page_title">{{page.title}}</h1>
								{% endif %}

								{% if page.intro %}
								<p class="page_intro">{{page.intro}}</p>
								{% endif %}
							</div>
							{% endblock %}
							<!-- END: Page Header -->

							<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
							<div class="typography">
								{% block typography %}
								{% endblock %}
							</div>
							<!-- END: WYSIWYG -->

							{% block after_typography %}
							{% endblock %}

							<!-- In Content Callouts -->
							<div class="in_content_callouts">
								{% block in_content_callouts %}
								{% endblock %}
							</div>
							<!-- END: In Content Callouts -->
						</main>
						<!-- END: Main Content -->

						{% if page.layout == "default" or page.layout == "style-guide" %}
						<!-- Sidebar Callouts -->
						<div class="fs-cell-right fs-lg-4 page_aside page_sidebar">
							<div class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
								{% block sidebar %}
								{% endblock %}
							</div>
						</div>
						<!-- END: Sidebar Callouts -->
						{% endif %}
					</div>
					{% endif %}

					<!-- Full Width Callouts -->
					{% if page.layout == "home" %}
					<main class="full_width_callouts" id="page_main_content" itemprop="mainContentOfPage">
					{% else %}
					<div class="full_width_callouts">
					{% endif %}
						{% block full_width_callouts %}
						{% endblock %}
					{% if page.layout == "home" %}
					</main>
					{% else %}
					</div>
					{% endif %}
					<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</div>
			<!-- END: Page -->

			{% if page.layout != "style-guide" %}
			<!-- Footer -->
			<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="footer_ribbon">
					<div class="fs-row">
						<div class="fs-cell">
							<div class="footer_ribbon_inner">
								{% include "../partials/logo.twig" with {
									modifier: "footer",
									icon: "logo"
								} %}

								<div class="copyright">
									<p class="copyright_info">&copy; <span itemprop="copyrightHolder" itemscope="" itemtype="http://schema.org/{{vars.schemaType}}">{{vars.name}}</span> <span itemprop="copyrightYear">{{"now"|date("Y")}}</span></p>
								</div>

								{% include "../partials/address.twig" with {
									name: vars.name,
									street: "2980 Falls Road",
									city: "Baltimore",
									state: "MD",
									zip: "21211",
									phone: "202-432-1200"
								} %}

								{% include "../partials/navigation/basic.twig" with {
									class: "footer_nav",
									title: "Footer",
									links: footerNavAlias
								} %}

								{% include "../partials/navigation/social.twig" with {
									title: "Social",
									links: socialNavAlias
								} %}
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- END: Footer -->
			{% endif %}
		</div>
		<!-- END: page_wrapper -->

		<div class="js-menu menu" id="menu">
			{% include "../partials/navigation/main.twig" with {
				modifier: "sm",
				links: mainNavAlias,
				active: activePage,
				icon: "caret_down"
			} %}

			{% include "../partials/navigation/basic.twig" with {
				class: "secondary_nav",
				modifier: "sm",
				title: "Secondary",
				links: secondaryNavAlias
			} %}

			<button class="js-swap js-menu-close menu_close" data-swap-target=".menu" data-swap-linked="menu" aria-label="Close Menu">
				<span class="menu_close_icon">{{site.icon("close")}}</span>
				<span class="menu_close_label">Close Menu</span>
			</button>
		</div>

		<script>
			var WWW_ROOT = "";
			var STATIC_ROOT = "../../";
		</script>
		<script src="../../js/site.js?{{'now'|date('U')}}"></script>

		{% if page.scripts %}
		{% for script in page.scripts %}
		{{script}}
		{% endfor %}
		{% endif %}

		{% if grid %}
		<!-- Grid Bookmarklet -->
		<script>
			(function(){if(typeof FSGridBookmarklet==='undefined'){document.body.appendChild(document.createElement('script')).src='//formstone.it/js/bookmarklet/grid.js';}else{FSGridBookmarklet();}} )();
		</script>
		{% endif %}
	</body>
</html>
