{% extends "_accessibility.twig" %}

{% block page_block %}
	{% set pageData = {
		title: "pa11y"
	} %}
{% endblock %}

{% block body %}
	<header class="results_header">
		<h1 class="results_title">
			<img class="results_title_icon" src="../../images/pa11y.png" alt="pa11y logo" />
			<span class="results_title_label">pa11y Report</span>
		</h1>
  </header>
	<main>
		<div class="report_pages">
			{% for item in items %}
			{% if item.results.issues|length >= 1 %}
			<div class="report_page" id="{{ item.page }}">
				<h2 class="report_page_title">
					<a class="report_page_title_link" href="{{ item.page }}.html">{{ item.page|replace({
						"page": "",
						"-": " "
					})|title }}</a>
				</h2>
				<div class="report_page_body">
					<ul class="report_items">
						{% for issue in item.results.issues %}
						<li class="report_item">
							<h3 class="report_item_title">{{ issue.message }}</h3>
							<pre class="report_item_context">{{ issue.context|e }}</pre>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</main>
{% endblock %}