{#
	{{site.anchor("Simple Accordion")}}
	{% include full ~ "accordion.twig" with {
		collapse: false,
		grouped: true,
		items: [
			{
				active: false,
				label: "Aenean vulputate eleifend tellus",
				description: "<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>"
			},
			{
				active: false,
				label: "Curabitur ullamcorper ultricies nisi",
				description: "<p>Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p><p>Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.</p>"
			}
		]
	} %}
#}

{% set guid = random() %}
<!-- Simple Accordion -->
<div class="js-accordion accordion" id="accordion_{{guid}}">
	{% for item in items %}
	<div class="js-accordion-item js-accordion-item-{{guid}}-{{loop.index}}">
		<button class="js-accordion-trigger js-swap" id="js-accordion-trigger-{{guid}}-{{loop.index}}" data-swap-target=".js-accordion-item-{{guid}}-{{loop.index}}"{% if grouped == "" or grouped == null or grouped == true %} data-swap-group="accordion_group_{{guid}}"{% endif %}{% if collapse == false %} data-swap-options='{"collapse": false}'{% endif %}{% if item.active == true %} data-swap-active="true"{% endif %}>
			{{item.label}}
		</button>
		<div class="js-accordion-content js-accordion-content-{{guid}}-{{loop.index}}" id="js-accordion-content-{{guid}}-{{loop.index}}" aria-label="{{item.label}}">
			{{item.description}}
		</div>
	</div>
	{% endfor %}
</div>
<!-- END: Simple Accordion -->
