{#
	{{site.anchor("Alert")}}
	{% include feat ~ "alert.twig" with {
		theme: "",
		time: "12:30:45",
		date: "2016-10-27 1:21:4",
		href: "#",
		title: "Alert",
		description: "Lorem ipsum dolor sit amet, consectetuer adipiscing elit."
	} %}
#}

<section class="js-alert alert{% if theme %} theme_{{theme}}{% endif %}" role="alert" data-time="{{time}}">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="alert_inner">
				<button class="alert_close">
					<span class="alert_close_icon">{{site.icon("close")}}</span>
					<span class="alert_close_label">Close Alert</span>
				</button>
				<div class="alert_content">
					<header class="alert_header">
						<div class="alert_time">
							<time class="alert_time_item" datetime="{{date|date("Y-m-d")}}">{{date|date("m.d.Y")}}</time>
						</div>
						<h2 class="alert_title">
							{% if href %}<a class="alert_title_link" href="{{href}}">{% endif %}
							{{title}}
							{% if href %}</a>{% endif %}
						</h2>
					</header>
					<div class="alert_caption">
						<p>{{caption}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
