<div class="typography">
	<h2>Forms</h2>
	<form action="#" class="form-builder" style="margin: 50px 0;">
		<fieldset>
			<h5>Text Field</h5>
			<div class="form_column">
				{{site.input("email", "Email Address")}}
			</div>
		</fieldset>
		<fieldset>
			<h5>Comment</h5>
			<div class="form_column">
				{{site.textarea("Comments")}}
			</div>
		</fieldset>
		<fieldset>
			<div class="form_column_2">
				{{site.choices("checkbox", [
					"Option One",
					"Option Two",
					"Option Three"
				])}}
				{{site.choices("radio", [
					"Option One",
					"Option Two",
					"Option Three"
				])}}
			</div>
		</fieldset>
		<fieldset>
			<div class="form_column">
				<label for="dropdown">Select</label>
				<select id="dropdown">
					<option value="1">Pharetra Quam</option>
					<option value="2">Magna Vulputate</option>
					<option value="3">Condimentum</option>
					<option value="4">Magna Tellus Cras</option>
					<option value="5">Sit Ridiculus</option>
				</select>
			</div>
		</fieldset>
		<fieldset>
			<h5>Name</h5>
			<div class="form_column_2">
				{{site.input("text", "First Name")}}
				{{site.input("text", "Last Name")}}
			</div>
		</fieldset>
		<fieldset>
			<h5>Date</h5>
			<div class="form_column_flex">
				{{site.input("number", "MM")}}
				{{site.input("number", "DD")}}
				{{site.input("number", "YYYY")}}
			</div>
		</fieldset>
		<fieldset>
			<h5>Address</h5>
			<div class="form_column">
				{{site.input("text", "Street Address")}}
			</div>
			<div class="form_column_2">
				{{site.input("text", "Street Address Line 1")}}
				{{site.input("text", "City")}}
			</div>
			<div class="form_column_2">
				{{site.input("text", "State / Province / Region")}}
				{{site.input("text", "Postal / Zip Code")}}
			</div>
		</fieldset>
		<fieldset>
			<h5>Phone Number</h5>
			<div class="form_column_flex">
				{{site.input("number", "###")}}
				{{site.input("number", "###")}}
				{{site.input("number", "####")}}
			</div>
		</fieldset>
		<fieldset>
			<input type="submit" value="Submit">
		</fieldset>
	</form>
</div>
