{#
	{% include "../partials/components/in-content/gallery.twig" with {
		theme: "",
		title: "Media Gallery",
		items: [
			{
				video: "//www.youtube.com/watch?v=XPjQhvjQbSM",
				symbol: "",
				image: 1,
				caption: "Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. <a href='#'>Phasellus viverra</a> nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui."
			},
			{
				video: "",
				symbol: "",
				image: 2,
				caption: ""
			}
		]
	} %}
#}

<div class="media_gallery{% if theme %} theme_{{theme}}{% endif %}">
	{% if title %}
		<header class="media_gallery_header">
			<h2 class="media_gallery_title">{{title}}</h2>
		</header>
	{% endif %}
	<div class="media_gallery_body">
		<div class="js-carousel media_gallery_items" data-carousel-options='{"theme": "base_pagination", "contained": false, "matchHeight": true}'>
			{% for item in items %}
				<div class="media_gallery_item{% if item.caption is empty %} no_caption{% endif %}{% if item.video %} video{% endif %}">
					<figure class="media_gallery_figure" role="group"{% if item.caption %} aria-label="{{item.caption|striptags}}"{% endif %}>
						{% if item.video %}<a class="js-lightbox media_item_link" href="{{item.video}}" title="{{item.caption|striptags}}">{% endif %}
							{% include "../shared/picture.twig" with {
								class: "media_gallery",
								sources: {
									"1220px": img.wide.med
								},
								fallback: img.wide.med,
								image: item.image
							} %}
							<span class="media_gallery_symbol">{{site.symbol(symbol)}}</span>
						{% if item.video %}</a>{% endif %}
						{% if item.caption %}
							<figcaption class="media_gallery_figcaption">
								<p>{{item.caption}}</p>
							</figcaption>
						{% endif %}
					</figure>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
