{#
	{% include inc ~ "linked-list.twig" with {
		title: "Related Links",
		items: [
			{
				href: "#",
				name: "Undergraduate"
			},
			{
				href: "#",
				name: "Degree Completion"
			},
			{
				href: "#",
				name: "Graduate"
			},
			{
				href: "#",
				name: "Visit"
			}
		]
	} %}
#}

<div class="linked_list{% if theme %} theme_{{theme}}{% endif %}" {{site.ce(edit)}}>
	{% if title %}
		<header class="linked_list_header">
			<h2 class="linked_list_title">
				{% if icon %}
					<span class="linked_list_title_icon">{{site.symbol(icon)}}</span>
				{% endif %}
				<span class="linked_list_title_label">{{title}}</span>
			</h2>
		</header>
	{% endif %}
	<div class="linked_list_body">
		<ul class="linked_list_group">
			{% for item in items %}
				<li class="linked_list_item">
					<a class="linked_list_link" href="{{item.href}}">{{item.name}}</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
