{#
	{{site.anchor("Simple Dialog")}}
	{% include full ~ "dialog.twig" with {
		trigger: "Open Dialog",
		title: "Dialog Title",
		description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
	} %}

	Development Note:
	Close button must be last element inside of `.js-dialog-document`
#}

{% set guid = random() %}
<!-- Simple Dialog -->
<a class="js-dialog-trigger" href="#dialog_{{guid}}" data-dialog-target="dialog_{{guid}}">{{trigger}}</a>
<div class="js-dialog-wrapper" id="dialog_{{guid}}" data-dialog-label="{{title}}">
	<div class="js-dialog-document">
		<h2>{{title}}</h2>
		<button class="js-dialog-close" aria-label="Close">
			<span>Close</span>
			<span>{{site.icon("close")}}</span>
		</button>
	</div>
</div>
<!-- END: Simple Dialog -->
