{#
	{{site.anchor("Simple Tabs")}}
	{% include full ~ "tabs.twig" with {
		items: [
			{
				title: "Tab One",
				description: "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, <a href='#'>pellentesque</a> eu, pretium quis, sem. Nulla consequat massa quis enim.</p><p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean <a href='#'>vulputate</a> eleifend tellus.</p>"
			},
			{
				title: "Tab Two",
				description: "<p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. <a href='#'>Quisque rutrum.</a> Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>"
			},
			{
				title: "Tab Three",
				description: "<p>Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>"
			}
		]
	} %}
#}

{% set guid = random() %}
<!-- Simple Tabs -->
<div class="js-tabs" id="tabs_{{guid}}">
	<div class="js-tab-list">
		{% for item in items %}
		<div class="js-tab">
			<a class="js-tab-trigger js-swap" href="#js-tab-panel-{{guid}}-{{loop.index}}" id="js-tab-trigger-{{guid}}-{{loop.index}}" data-swap-options='{"collapse": false}' data-swap-target=".js-tab-panel-{{guid}}-{{loop.index}}" data-swap-group="tabs_group_{{guid}}">{{item.title}}</a>
		</div>
		{% endfor %}
	</div>
	{% for item in items %}
	<div class="js-tab-panel js-tab-panel-{{guid}}-{{loop.index}}" id="js-tab-panel-{{guid}}-{{loop.index}}">
		{{item.description}}
	</div>
	{% endfor %}
</div>
<!-- END: Simple Tabs -->
