{#
	{% include "../partials/address.twig" with {
		name: "Fastspot",
		street: "2980 Falls Road",
		city: "Baltimore",
		state: "MD",
		zip: "21211",
		email: "team@fastspot.com",
		phone: "202-432-1200",
		fax: "202-234-0012"
	} %}
#}

<div class="address" itemscope itemtype="http://schema.org/PostalAddress">
	<span class="address_group">
		<span class="address_name" itemprop="name">{{name}}</span>
		<span class="address_street" itemprop="streetAddress">{{street}}</span>
		<span class="address_set">
			<span class="address_city" itemprop="addressLocality">{{city}}</span>
			<span class="address_state" itemprop="addressRegion">{{state}}</span>
			<span class="address_zip" itemprop="postalCode">{{zip}}</span>
		</span>
	</span>
	{% if email %}
	<span class="address_detail">
		<span class="address_detail_icon">{{site.icon("email")}}</span>
		<a class="address_detail_label address_detail_label_email" href="mailto:{{email}}" itemprop="email">{{email}}</a>
	</span>
	{% endif %}
	{% if phone %}
	<span class="address_detail">
		<span class="address_detail_icon">{{site.icon("phone")}}</span>
		<a class="address_detail_label address_detail_label_phone" href="tel:{{site.tel(phone)}}" itemprop="telephone">{{phone}}</a>
	</span>
	{% endif %}
	{% if fax %}
	<span class="address_detail">
		<span class="address_detail_icon">{{site.icon("fax")}}</span>
		<a class="address_detail_label address_detail_label_fax" href="tel:{{site.tel(fax)}}" itemprop="fax">{{fax}}</a>
	</span>
	{% endif %}
</div>
