{#
	{% include "../partials/address.twig" with {
		name: "Fastspot",
		street: "2980 Falls Road",
		city: "Baltimore",
		state: "MD",
		zip: "21211",
		email: "team@fastspot.com",
		phone: "202-432-1200",
		fax: "202-234-0012"
	} %}
#}

<div class="address" itemscope itemtype="http://schema.org/PostalAddress">
	<span class="address_name" itemprop="name">{{name}}</span>
	<span class="address_street" itemprop="streetAddress">{{street}}</span>
	<span class="address_city" itemprop="addressLocality">{{city}}</span>
	<span class="address_state" itemprop="addressRegion">{{state}}</span>
	<span class="address_zip" itemprop="postalCode">{{zip}}</span>
	{% if email %}
	<a class="address_email" itemprop="email" href="mailto:{{email}}">
		<span class="address_label">{{email}}</span>
	</a>
	{% endif %}
	{% if phone %}
	<a class="address_phone" itemprop="telephone" href="tel:{{site.tel(phone)}}">
		<span class="address_label">{{phone}}</span>
	</a>
	{% endif %}
	{% if fax %}
	<a class="address_fax" itemprop="fax" href="tel:{{site.tel(fax)}}">
		<span class="address_label">{{fax}}</span>
	</a>
	{% endif %}
</div>
