{#
	{% include par ~ "background.twig" with {
		jsClass: "",
		class: "flex_callout",
		image: image,
		lazy: "true",
		lazyEdge: "100",
		reference: true,
		sources: {
			"0px": img.square.sml,
			"740px": img.ultrawide.med,
			"980px": img.ultrawide.lrg,
			"1220px": img.ultrawide.xlrg
		}
	} %}
#}

{% set reference = reference|default(true) %}
<div class="{% if jsClass %}{{jsClass}}{% else %}js-background{% endif %} {{class}}_background" {% if reference %}data-reference="{% for key, source in sources %}{{key}}: {{source}}{% if not loop.last %}, {% endif %}{% endfor %}"{% endif %} data-background-options='{"source": {
{% for key, source in sources %}"{{key}}": "{% if source == "placeholder" %}../../images/placeholder.png{% else %}//images.fastspot.com/{{vars.images}}/{{source}}/{{image}}{% endif %}"{% if not loop.last %}, {% endif %}{% endfor %}
}{% if lazy == "true" %}, "lazy": true{% endif %}{% if lazyEdge %}, "lazyEdge": "{{lazyEdge}}"{% endif %}}'></div>
