{#
	{% include par ~ "background-video.twig" with {
		customClass: "js-class",
		class: "background",
		image: image,
		fallback: img.wide.lrg,
		video: "http://example.com/video.mp4",
		options: {
			autoPlay: false,
			embedRatio: 1.777777,
			loop: false,
			mute: true,
			alt: "",
		}
	} %}
#}

<div class="{{ customClass ?: "js-background" }} js-background-video {{ class }}_background" data-background-options='{"source": {"poster": "//images.fastspot.com/{{ vars.images }}/{{ fallback.width }}x{{ fallback.height }}/{{ image }}","mp4": "{{ video }}"},{% for key, option in options %}"{{ key }}": "{{ option }}",{% endfor %}"lazy": true}' aria-hidden="true">
	<div class="{{ class }}_background_fallback" style="background-image: url(' //images.fastspot.com/{{ vars.images }}//{{ img.fallback.width }}x{{ img.fallback.height }}/{{ image }}');"></div>
</div>