{#
	{% include "../partials/handle.twig" with {
		class: "mobile_sidebar",
		modifier: "primary",
		label: "Menu"
	} %}
#}

<a class="{{class}}_handle_wrapper {{class}}_handle_wrapper_{{modifier}}" href="#{{class}}">
	<span class="js-swap {{class}}_handle {{class}}_handle_{{modifier}}" data-swap-target=".{{class}}" data-swap-linked="{{class}}">{{label}}</span>
</a>
