{#
	{% include "../partials/handle.twig" with {
		class: "menu",
		target: "menu",
		icon: "menu",
		label: "Open Menu"
	} %}
#}

<a class="js-swap js-{{ class|replace({"_": "-"}) }}-handle {{ class }}_handle" href="#{{ target }}" data-swap-target=".{{ target }}" data-swap-linked="{{ class }}">
	{% if icon %}
	<span class="{{ class }}_handle_icon" aria-hidden="true">{{ site.icon(icon) }}</span>
	{% endif %}
	<span class="{{ class }}_handle_label">{{ label }}</span>
</a>
