{#
	{% include "../partials/handle.twig" with {
		class: "mobile_sidebar",
		modifier: "primary",
		label: "Menu"
	} %}
#}

<a class="js-swap js-{{class|replace({"_": "-"})}}-handle {{class}}_handle {{class}}_handle_{{modifier}}" href="#{{class}}" data-swap-target=".{{class}}" data-swap-linked="{{class}}">
	<span class="{{class}}_handle_label {{class}}_handle_label_{{modifier}}">{{label}}</span>
</a>
