{#
	{% include image with {
		class: "media",
		itemprop: "",
		image: item.image,
		dimension: img.wide.med
	} %}
#}

<div class="js-image {{ class }}_image_wrapper">
	<img class="js-lazy js-lazyload {{ class }}_image" data-src="//images.fastspot.com/{{ vars.images }}/{{ dimension }}/{{ image }}" alt=""{% if itemprop %} itemprop="{{ itemprop }}"{% endif %}>
</div>
<noscript>
	<div class="{{ class }}_image_wrapper">
		<img class="{{ class }}_image" src="//images.fastspot.com/{{ vars.images }}/{{ dimension }}/{{ image }}" alt=""{% if itemprop %} itemprop="{{ itemprop }}"{% endif %}>
	</div>
</noscript>