{#
	Logo markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/logos

	1. Create a logo image file.
	2. Create a black and white print logo image file.

	{% include "../partials/logo.twig" with {
		heading: true,
		modifier: "header",
		icon: "logo",
		print: true
	} %}
#}

{% if heading == true %}
<h1 class="logo{% if modifier %} logo_{{modifier}}{% endif %}{% if icon %} logo_icon{% endif %}" itemscope itemtype="http://schema.org/{{vars.schemaType}}">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">{{vars.name}}</span>
		{% if icon %}
		<span class="logo_link_icon">{{site.icon(icon)}}</span>
		{% endif %}
	</a>
	<meta content="http://{{vars.domain}}/images/logo-schema.png" itemprop="logo"> {# 1 #}
	{% if print %}
	<img class="logo_print" src="../../images/logo-print.png" alt=""> {# 2 #}
	{% endif %}
</h1>
{% else %}
<div class="logo{% if modifier %} logo_{{modifier}}{% endif %}{% if icon %} logo_icon{% endif %}" itemscope itemtype="http://schema.org/{{vars.schemaType}}">
	<a class="logo_link" itemprop="url" href="page-home.html">
		<span class="logo_link_label">{{vars.name}}</span>
		{% if icon %}
		<span class="logo_link_icon">{{site.icon(icon)}}</span>
		{% endif %}
	</a>
	<meta content="http://{{vars.domain}}/images/logo-schema.png" itemprop="logo"> {# 1 #}
	{% if print %}
	<img class="logo_print" src="../../images/logo-print.png" alt=""> {# 2 #}
	{% endif %}
</div>
{% endif %}
