{#
	{{ site.icon("chevron") }}

	{{ site.button("class", "Apply", "chevron_right", "#") }}

	{{ site.table({
		headers: [
			"Header",
			"Header"
		],
		rows: [
			[
				"Item",
				"Item"
			]
		]
	}) }}

	{{ site.select("class", "label", ["items"]) }}

	{{ site.input("class", "type", "label") }}

	{{ site.textarea("class", "label") }}

	{{ site.choices("class", "type", ["items"]) }}

	{{ site.tel("number") }}
#}


{% macro icon(name) %}
<svg class="icon icon_{{ name }}">
	<use xlink:href="../../images/icons.svg#{{ name }}"></use>
</svg>
{% endmacro %}


{% macro button(class, label, icon, href) %}
<a class="{{ class }}_link" href="{{ href ?: '#' }}">
	<span class="{{ class }}_link_inner">
		<span class="{{ class }}_link_label">{{ label }}</span>
		{% if icon %}
		<span class="{{ class }}_link_icon" aria-hidden="true">
			<svg class="icon icon_{{ icon }}">
				<use xlink:href="../../images/icons.svg#{{ icon }}"></use>
			</svg>
		</span>
		{% endif %}
	</span>
</a>
{% endmacro %}


{% macro table(data) %}
<table class="{{ data.class }}">
	<thead>
		<tr>
			{% for header in data.headers %}
			<th>{{ header }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in data.rows %}
		<tr>
			{% for item in row %}
			<td>{{ item }}</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}


{% macro select(class, label, items) %}
{% set id = label|lower|replace({
	" ": "_"
}) %}

<div class="{{ class }}_select_wrapper">
	{% if label %}
	<label class="{{ class }}_select_label" for="{{ id }}_select">{{ label }}</label>
	{% endif %}
	<div class="{{ class }}_select_item">
		<select class="{{ class }}_select_field" id="{{ id }}_select" name="{{ id }}_select">
			{% for item in items %}
			<option value="{{ item }}"{% if loop.first %} selected{% endif %}>{{ item }}</option>
			{% endfor %}
		</select>
	</div>
</div>
{% endmacro %}


{% macro input(class, type, label) %}
{% set id = label|lower|replace({
	" ": "_"
}) %}
<div class="{{ class }}_input_wrapper">
	<label class="{{ class }}_input_label" for="{{ id }}">{{ label }}</label>
	<input class="{{ class }}_input_field" id="{{ id }}" name="{{ id }}" type="{{ type }}"{% if type == "text" %} placeholder="{{ label }}"{% endif %} />
</div>
{% endmacro %}


{% macro textarea(class, label) %}
{% set id = label|lower|replace({
	" ": "_"
}) %}
<div class="{{ class }}_textarea_wrapper">
	<label class="{{ class }}_textarea_label" for="{{ id }}">{{ label }}</label>
	<textarea class="{{ class }}_textarea_field" id="{{ id }}" name="{{ id }}"></textarea>
</div>
{% endmacro %}


{% macro choices(class, type, items) %}
<div class="{{ class }}_choices">
	{% set group = random() %}

	{% for item in items %}
		{% set id = item|lower|replace({
			" ": "_"
		}) %}

		<div class="{{ class }}_choice_wrapper">
			<input class="{{ class }}_choice_field" id="{{ id }}" name="{{ group }}" type="{{ type }}" value="{{ item }}">
			<span class="{{ class }}_choice_indicator {{ class }}_choice_indicator_{{ type }}"></span>
			<label class="{{ class }}_choice_label" for="{{ id }}">{{ item }}</label>
		</div>
	{% endfor %}
</div>
{% endmacro %}


{% macro tel(number) %}{{ number|replace({ "-": "", " ": "", "(": "", ")": "" }) }}{% endmacro %}
