{#
	{{site.image("component", img.wide.sml, 2)}}
#}

{% macro image(class, dimension, image) %}
	<img class="{{class}}_image" src="//images.fastspot.com/{{vars.namespace}}/{{dimension}}/{{image}}" alt="">
{% endmacro %}


{#
	{{site.picture({
		class: "media",
		fallback: "placeholder",
		image: item.image,
		sources: {
			"1220px": img.wide.med,
			"500px": img.wide.sml
		}
	})}}
#}

{% macro picture(parameters) %}
	<picture class="{{parameters.class}}_picture">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		{% for key, source in parameters.sources %}
		<source media="(min-width: {{key}})" srcset="{% if source == "placeholder" %}../../images/placeholder.png{% else %}//images.fastspot.com/{{vars.namespace}}/{{source}}/{{image}}{% endif %}">
		{% endfor %}
		<!--[if IE 9]></video><![endif]-->
		<img class="{{parameters.class}}_image" src="{% if parameters.fallback == "placeholder" %}../../images/placeholder.png{% else %}//images.fastspot.com/{{vars.namespace}}/{{parameters.fallback}}/{{parameters.image}}{% endif %}" alt="">
	</picture>
{% endmacro %}


{#
	{{site.symbol("chevron")}}
#}

{% macro symbol(name) %}
	{% if name %}
		<svg class="symbol symbol_{{name}}">
			<use xlink:href="#{{name}}"></use>
		</svg>
	{% endif %}
{% endmacro %}


{#
	{{site.button("class", "Apply", "arrow_right")}}
#}

{% macro button(class, label, symbol) %}
	<a class="{{class}}_link" href="#">
		<span class="{{class}}_link_label">{{label}}</span>
		{% if symbol %}
			<span class="{{class}}_link_icon">
				<svg class="symbol symbol_{{symbol}}">
					<use xlink:href="#{{symbol}}"></use>
				</svg>
			</span>
		{% endif %}
	</a>
{% endmacro %}


{#
	{{site.table({
		headers: [
			"Header",
			"Header"
		],
		rows: [
			[
				"Item",
				"Item"
			]
		]
	})}}
#}

{% macro table(data) %}
	<table class="{{data.class}}">
		<thead>
			<tr>
				{% for header in data.headers %}
					<th>{{header}}</td>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in data.rows %}
				<tr>
					{% for item in row %}
						<td>{{item}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}


{#
	{{site.dropdown("component", "id", "label", ["Choices"], "lg")}}
#}

{% macro dropdown(class, id, label, choices, modifier) %}
	<div class="fs-dropdown-wrapper {{class}}_dropdown_wrapper{% if modifier %} {{class}}_dropdown_wrapper_{{modifier}}{% endif %}">
		{% if label %}
		<label class="{{class}}_label" for="{{id}}_dropdown">{{label}}</label>
		{% endif %}
		<select class="js-dropdown {{class}}_dropdown" id="{{id}}_dropdown" name="{{id}}_dropdown">
			{% for choice in choices %}
				<option value="{{choice}}">{{choice}}</option>
			{% endfor %}
		</select>
		<span class="fs-dropdown-icon {{class}}_dropdown_icon">
			<svg class="symbol symbol_caret_down">
				<use xlink:href="#caret_down"></use>
			</svg>
		</span>
	</div>
{% endmacro %}


{#
	{{site.input("text", "first_name", "First Name", "component")}}
#}

{% macro input(type, id, label, class) %}
	<div class="{% if class %}{{class}}_form_element {% endif %}form_element">
		<input type="{{type}}" id="{{id}}" />
		<label for="{{id}}">{{label}}</label>
	</div>
{% endmacro %}


{#
	{{site.textarea("text", "first_name", "First Name")}}
#}

{% macro textarea(id, label) %}
	<div class="form_element">
		<textarea id="{{id}}"></textarea>
		<label for="{{id}}">{{label}}</label>
	</div>
{% endmacro %}


{#
	{{site.choices("checkbox", [
		{
			name: "option-one",
			value: "Option One"
		}
	])}}
#}

{% macro choices(type, items) %}
	<div class="form_element">
		{% for item in items %}
			<label for="{{item.name}}">
				<input type="{{type}}" name="{{item.name}}" id="{{item.name}}" value="{{item.value}}">
				<span class="{{type}}_label">{{item.value}}</span>
			</label>
		{% endfor %}
	</div>
{% endmacro %}
