{#
	{% include "../partials/search.twig" with {
		modifier: "lg",
		placeholder: "Search",
		buttonText: "Submit"
	} %}
#}

{% set id = random() %}
<div class="site_search{% if modifier %} site_search_{{ modifier }}{% endif %}" id="site_search_{{ id }}" role="search">
	<meta itemprop="url" content="http://{{ vars.domain }}">
	<form class="site_search_form" action="/static/templates/page-search.html" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
		<meta itemprop="target" content="http://{{ vars.domain }}/static/templates/page-search.html?q={q}">
		<label class="site_search_label" for="search_string_{{ id }}">Search</label>
		<input class="site_search_input" aria-live="polite" itemprop="query-input" type="search" id="search_string_{{ id }}" name="q" placeholder="{{ placeholder ?: 'Search' }}" required>
		<button class="site_search_button" type="submit"{% if not buttonText %} aria-label="Search"{% endif %}>
			{% if buttonText %}
			<span class="site_search_button_label">{{ buttonText }}</span>
			{% endif %}
			<span class="site_search_button_icon">{{ site.icon("search") }}</span>
		</button>
	</form>
</div>
