<div class="accordion{% if theme %} theme_{{theme}}{% endif %}">
	{% if title %}
		<header class="accordion_header">
			<h2 class="accordion_title">{{title}}</h2>
		</header>
	{% endif %}
	<div class="accordion_body">
		{% for accordion in accordions %}
			<div class="accordion_item accordion_item_{{loop.index}}">
				<h3 class="js-swap accordion_item_title" data-swap-target=".accordion_item_{{loop.index}}" data-swap-group="accordion_group">
					{{accordion.question}}
					<span class="accordion_item_icon">{{sprite.symbol()}}</span>
				</h3>
				<div class="accordion_item_description">
					{{accordion.answer}}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
