<div class="accordion theme_{{theme}}">
	{% if header %}
		<header class="accordion_header">
			<h2 class="accordion_title">{{title}}</h2>
		</header>
	{% endif %}
	<div class="accordion_body">
		{% for accordion in accordions %}
			<div class="accordion_item accordion_item_{{loop.index}}">
				<h3 class="js-swap accordion_item_heading" data-swap-target=".accordion_item_{{loop.index}}" data-swap-group="accordion_group">{{accordion.question}}</h3>
				<div class="accordion_item_description">
					{{accordion.answer}}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
