<section class="media_gallery theme_{{theme}}">
	<div class="fs-row">
		<div class="fs-cell fs-lg-8 fs-lg-push-2">
			<div class="media_gallery_inner">
				{% if title %}
					<header class="media_gallery_header">
						<h2 class="media_gallery_title">{{title}}</h2>
					</header>
				{% endif %}
				<div class="media_gallery_body">
					<div class="js-carousel media_gallery_items" data-carousel-options='{"theme": "base_pagination multi_pagination circle_controls white_circle_controls", "contained": false, "matchHeight": true}'>
						{% for item in items %}
							<div class="media_gallery_item">
								<figure class="media_gallery_figure">
									<picture class="media_gallery_picture">
										<!--[if IE 9]><video style="display: none;"><![endif]-->
										<source media="(min-width: 1220px)" srcset="//spacehold.it/740x494/{{item.image}}.jpg">{# classic-sml #}
										<!--[if IE 9]></video><![endif]-->
										<img class="media_gallery_image" src="//spacehold.it/500x334/{{item.image}}.jpg" alt="">{# classic-xsml #}
									</picture>
									{% if item.caption %}
										<figcaption class="media_gallery_figcaption">
											<span>{{item.caption}}</span>
										</figcaption>
									{% endif %}
								</figure>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
