<article class="topic_block theme_{{theme}}">
	{% if image %}
		<figure class="topic_block_figure">
			<img class="topic_block_image" src="//spacehold.it/300x225/{{image}}.jpg" alt="">
		</figure>
	{% endif %}
	<div class="topic_block_content">
		<header class="topic_block_header">
			<h3 class="topic_block_heading">{{title}}</h3>
		</header>
		<div class="topic_block_description">
			<p>{{description}}</p>
		</div>
		{% if links %}
			<div class="topic_block_links">
				{% for link in links %}
					<a class="topic_block_link" href="#">{{link}}</a>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</article>
