<div class="topic_list_item" role="listitem">
	<article class="topic_block">
		<figure class="topic_block_figure">
			<picture class="topic_block_picture">
				<!--[if IE 9]><video style="display: none;"><![endif]-->
				<source media="(min-width: 740px)" srcset="//spacehold.it/350x234/hamilton/{{image}}">
				<source media="(min-width: 500px)" srcset="//spacehold.it/200x200/hamilton/{{image}}">
				<!--[if IE 9]></video><![endif]-->
				<img class="topic_block_image" src="//spacehold.it/500x334/hamilton/{{image}}" alt="{{alt}}">
			</picture>
		</figure>
		<div class="topic_block_body">
			<header class="topic_block_header">
				<h3 class="topic_block_title">{{title}}</h3>
			</header>
			<div class="topic_block_description">
				<p>{{description}}</p>
			</div>
			<div class="topic_block_links">
				<a class="topic_block_link" href="">{{link1}}</a>
				<a class="topic_block_link" href="">{{link2}}</a>
			</div>
		</div>
	</article>
</div>
