{#
	Breadcrumb markup as defined by Google structured data
	https://developers.google.com/structured-data/breadcrumbs

	{% include "../partials/navigation/breadcrumb.twig" with {
		modifier: "lg",
		links: breadcrumbNav,
		icon: true
	} %}

#}

<div class="breadcrumb_nav{% if modifier %} breadcrumb_nav_{{modifier}}{% endif %}">
	<ul class="breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList" aria-label="Breadcrumb Navigation">
		<li class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a class="breadcrumb_pill breadcrumb_pill_link" href="page-home.html" itemprop="item">
				<span class="breadcrumb_name" itemprop="name">
					{% if icon %}
					<span class="breadcrumb_name_icon">{{site.icon("home")}}</span>
					{% endif %}
					<span class="breadcrumb_name_label">Home</span>
				</span>
			</a>
			<meta itemprop="position" content="1">
		</li>
		{% for link in links %}
		<li class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			{% if loop.last %}
			<span class="breadcrumb_pill" itemprop="item">
				<span class="breadcrumb_name">
					<span class="breadcrumb_name_label" itemprop="name">{% if link.name %}{{link.name}}{% elseif link %}{{link}}{% endif %}</span>
				</span>
			</span>
			{% else %}
			<a class="breadcrumb_pill breadcrumb_pill_link" href="{% if link.href %}{{link.href}}{% else %}#{% endif %}" itemprop="item">
				<span class="breadcrumb_name">
					<span class="breadcrumb_name_label" itemprop="name">{% if link.name %}{{link.name}}{% elseif link %}{{link}}{% endif %}</span>
				</span>
			</a>
			{% endif %}
			<meta itemprop="position" content="{{loop.index + 1}}">
		</li>
		{% endfor %}
	</ul>
</div>
