{#
	{% include "../partials/navigation/main.twig" with {
		modifier: "lg",
		active: activePage,
		icon: "caret_down",
		links: mainNavAlias
	} %}
#}

<nav class="js-main-nav {% if modifier %}js-main-nav-{{modifier}} {% endif %}main_nav{% if modifier %} main_nav_{{modifier}}{% endif %}" aria-label="Site" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="main_nav_header">
		<h2 class="main_nav_title">Site Navigation</h2>
	</div>
	<ul class="main_nav_list" aria-label="Site Navigation">
		{% for link in links %}
		<li class="js-main-nav-item-{{loop.index}} main_nav_item{% if link.modifier %} main_nav_item_{{link.modifier}}{% endif %}{% if link.children %} main_nav_item_has_children{% endif %}{% if loop.index == active %} active{% endif %}">
			<div class="main_nav_item_wrapper">
				<a class="main_nav_link" href="{{link.href ?: '#'}}" itemprop="url"{% if link.children %} aria-haspopup="true"{% endif %}{% if loop.index == active %} aria-current="page"{% endif %}>
					<span class="main_nav_link_label" itemprop="name">{{link.name ?: link}}</span>
				</a>
				{% if link.children %}
				<button class="js-swap js-main-nav-toggle main_nav_toggle" data-swap-target=".js-main-nav-item-{{loop.index}}" data-swap-group="main_nav" aria-label="{{link.name ?: link}} Submenu">
					<span class="main_nav_toggle_icon">{{site.icon(icon)}}</span>
				</button>
				{% endif %}
			</div>
			{% if link.children %}
			<ul class="js-main-nav-children main_nav_children" aria-label="submenu">
				{% for child in link.children %}
				<li class="main_nav_child_item">
					<a class="main_nav_child_link" href="{{child.href ?: '#'}}" itemprop="url">
						<span class="main_nav_child_link_label" itemprop="name">{{child.name ?: child}}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</nav>
