{#
	Social profile link markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/social-profiles
#}

<div class="social_nav{% if modifier %} social_nav_{{modifier}}{% endif %}" itemscope itemtype="http://schema.org/{{vars.schemaType}}">
	<link itemprop="url" href="//{{vars.domain}}">
	{% if title %}
		<div class="social_nav_header">
			<h2 class="social_nav_title">{{title}}</h2>
		</div>
	{% endif %}
	<div class="social_nav_list">
		{% for link in links %}
		<div class="social_nav_item{% if link.modifier %} {{link.modifier}}{% endif %}">
			<a class="social_nav_link" href="{{link.href}}" target="_blank" itemprop="sameAs">
				{% if link.symbol %}
				<span class="social_nav_icon">{{site.icon(link.symbol)}}</span>
				{% endif %}
				<span class="social_nav_label">{{link.name}}</span>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
