{#
	Social profile link markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/social-profiles

	{% include "../partials/navigation/social.twig" with {
		title: "Social Navigation",
		modifier: "lg",
		links: socialNavAlias
	} %}
#}

<div class="social_nav{% if modifier %} social_nav_{{modifier}}{% endif %}" itemscope itemtype="http://schema.org/{{vars.schemaType}}">
	<link itemprop="url" href="//{{vars.domain}}">
	<div class="social_nav_header">
		<h2 class="social_nav_title">{{title}} Navigation</h2>
	</div>
	<ul class="social_nav_list" aria-label="{{title}}">
		{% for link in links %}
		<li class="social_nav_item{% if link.modifier %} {{link.modifier}}{% endif %}">
			<a class="social_nav_link" href="{{link.href}}" target="_blank" itemprop="sameAs">
				{% if link.icon %}
				<span class="social_nav_icon">{{site.icon(link.icon)}}</span>
				{% endif %}
				<span class="social_nav_label">{{link.name}}</span>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
