{#
	{% include "../partials/navigation/sub.twig" with {
		title: sectionTitle,
		modifier: "lg",
		links: subNavAlias
	} %}
#}

{% if title %}
	{% set navTitle = title %}
{% else %}
	{% set navTitle = "In This Section" %}
{% endif %}

<nav class="sub_nav {% if modifier %} sub_nav_{{modifier}}{% endif %}" aria-label="{{navTitle}}" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<div class="sub_nav_header">
		<h2 class="sub_nav_title">{{navTitle}}</h2>
	</div>
	<button class="js-swap sub_nav_handle" data-swap-target=".sub_nav_list" data-swap-title="{{navTitle}}">
		<span class="sub_nav_handle_label">{{navTitle}}</span>
		<span class="sub_nav_handle_icon sub_nav_handle_icon_open">{{site.icon("caret_down")}}</span>
		<span class="sub_nav_handle_icon sub_nav_handle_icon_close">{{site.icon("close")}}</span>
	</button>
	<div class="sub_nav_list">
		{% for link in links %}
		<div class="sub_nav_item{% if link.modifier %} {{link.modifier}}{% endif %}" itemprop="url">
			<a class="sub_nav_link" href="{% if link.href %}{{link.href}}{% else %}#{% endif %}" itemprop="name">
				<span class="sub_nav_link_label">{% if link.name %}{{link.name}}{% elseif link %}{{link}}{% endif %}</span>
			</a>
			{% if link.children %}
			<div class="sub_nav_children">
				{% for child in link.children %}
				<div class="sub_nav_child_item{% if link.modifier %} {{link.modifier}}{% endif %}" itemprop="url">
					<a class="sub_nav_child_link" href="{% if child.href %}{{child.href}}{% else %}#{% endif %}" itemprop="name">{% if child.name %}{{child.name}}{% elseif child %}{{child}}{% endif %}</a>
					{% if child.children %}
					<div class="sub_nav_grandchildren">
						{% for child in child.children %}
						<div class="sub_nav_grandchild_item{% if link.modifier %} {{link.modifier}}{% endif %}" itemprop="url">
							<a class="sub_nav_grandchild_link" href="{% if child.href %}{{child.href}}{% else %}#{% endif %}" itemprop="name">{% if child.name %}{{child.name}}{% elseif child %}{{child}}{% endif %}</a>
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>
</nav>
