<nav class="js-main-nav main_nav{% if modifier %} main_nav_{{modifier}}{% endif %}" aria-label="{{title}}" itemscope itemtype="http://schema.org/SiteNavigationElement">
	{% if title %}
		<div class="main_nav_header">
			<h2 class="main_nav_title">{{title}}</h2>
		</div>
	{% endif %}
	<div class="main_nav_list" role="navigation">
		{% for link in links %}
			<div class="js-nav-item-{{loop.index}} main_nav_item{% if loop.index == active %} active{% endif %}{% if link.modifier %} {{link.modifier}}{% endif %}" itemprop="url">
				<div class="main_nav_item_wrapper">
					<a class="main_nav_link" href="{% if link.href %}{{link.href}}{% else %}#{% endif %}" itemprop="name">{% if link.name %}{{link.name}}{% elseif link %}{{link}}{% endif %}</a>
					<button class="js-swap main_nav_toggle" data-swap-target=".js-nav-item-{{loop.index}}" data-swap-group="main_nav">
						<span class="main_nav_toggle_label">Expand Navigation</span>
						<span class="main_nav_toggle_icon">{{site.symbol()}}</span>
					</button>
				</div>
				{% if link.children %}
					<div class="main_nav_children">
						{% for child in link.children %}
							<div class="main_nav_child_item{% if child.modifier %} {{child.modifier}}{% endif %}" itemprop="url">
								<a class="main_nav_child_link" href="{% if child.href %}{{child.href}}{% else %}#{% endif %}" itemprop="name">{% if child.name %}{{child.name}}{% elseif child %}{{child}}{% endif %}</a>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</nav>
