<nav class="main_nav{% if modifier %} main_nav_{{modifier}}{% endif %}" aria-label="{{title}}" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<header class="main_nav_header">
		<h2 class="main_nav_title">{{title}}</h2>
	</header>
	<div class="main_nav_list" role="navigation">
		{% for link in links %}
			<div class="main_nav_item mobile_nav_{{loop.index}}{% if loop.index == active %} active{% endif %}" itemprop="url">
				<div class="main_nav_item_wrapper">
					<a class="main_nav_link" href="#" itemprop="name">{{link.name}}</a>
					<button class="js-swap main_nav_toggle" data-swap-target=".mobile_nav_{{loop.index}}" data-swap-group="mobile_nav">Expand Navigation</button>
				</div>
				{% if link.children %}
					<div class="main_nav_children">
						{% for child in link.children %}
							<div class="main_nav_child_item" itemprop="url">
								<a class="main_nav_child_link" href="#" itemprop="name">{{child}}</a>
							</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</nav>
