<nav class="main_nav {{class}}" aria-label="Site Navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
	<h2 class="main_nav_heading">Site Navigation</h2>
	<div class="main_nav_list" role="navigation">
		{% for link in links %}
			<div class="main_nav_item mobile_nav_{{loop.index}}" itemprop="url">
				<div class="main_nav_item_wrapper">
					<a class="main_nav_link" href="#" itemprop="name">{{link.name}}</a>
					<button class="js-swap main_nav_toggle" data-swap-target=".mobile_nav_{{loop.index}}" data-swap-group="mobile_nav">Expand Navigation</button>
				</div>
				{% if link.children %}
					<div class="main_nav_children">
						{% for child in link.children %}
							<div class="main_nav_child_item" itemprop="url">
							<a class="main_nav_child_link" href="#" itemprop="name">{{child}}</a>
						</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endfor %}
	</div>
</nav>
