{#
	TODO:
		1. Update specific type of organization
		(EducationalOrganization, CollegeOrUniversity, etc...)
		2. Change url to client domain
#}

{#
	Social profile link markup as defined by Google structured data
	https://developers.google.com/structured-data/customize/social-profiles
#}

<div class="social_nav {{class}}" itemscope itemtype="http://schema.org/Organization"> {# 1 #}
	<link itemprop="url" href="http://www.client-name.com"> {# 2 #}
	<header class="social_nav_header">
		<h2 class="social_nav_title">{{title}}</h2>
	</header>
	<div class="social_nav_list">
		{% for link in links %}
			<div class="social_nav_item">
				<a class="social_nav_link {{link.name}}" href="{{link.href}}" itemprop="sameAs" target="_blank">
					<span class="social_nav_label">{{link.name}}</span>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
