{#
	{% include "../partials/google-search.twig" with {
		items: [
			{
				title: "<strong>The Beatles</strong>",
				description: "Detailed history with information on their music, movies, news, and latest projects. Images, related links, and a showcase for their albums.ails",
				link: "www.thebeatles.com/"
			},
			{
				title: "<strong>The Beatles</strong> - Wikipedia",
				description: "The Beatles were an English rock band, formed in Liverpool in 1960. With members John Lennon, Paul McCartney, George Harrison and Ringo Starr, they...",
				link: "https://en.wikipedia.org/wiki/The_Beatles"
			}
		],
		pages: 8
	} %}
#}

<!-- Site Map Search -->
<section class="search_results_block">
	<div class="fs-row">
		<div class="fs-cell">
			<div class="search_results_inner">
				{% include "../partials/search.twig" with {
					modifier: "results",
					placeholder: "Search",
					buttonText: "submit"
				} %}
				{% if items %}
				<div class="search_results_body">
					<p class="search_results_count">About 73,400,000 results (0.60 seconds)</p>
					<div class="search_results">
						{% for item in items %}
						<div class="search_result">
							<h2 class="search_result_title">
								<a class="search_result_title_link" href="{{item.link}}">{{item.title}}</a>
							</h2>
							<a class="search_result_link" href="{{item.link}}">{{item.link}}</a>
							<div class="search_result_description">
								<p>{{item.description}}</p>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="search_results_footer">
						{% include "pagination.twig" with {
							pages: pages
						} %}
					</div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<!-- END: Site Map Search -->
