{#
	Breadcrumb markup as defined by Google structured data
	https://developers.google.com/structured-data/breadcrumbs
#}

<div class="breadcrumb_nav{% if modifier %} breadcrumb_nav_{{modifier}}{% endif %}">
	<div class="breadcrumb_list" itemscope itemtype="http://schema.org/BreadcrumbList">
		<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
			<a class="breadcrumb_link" href="page-home.html" itemprop="item">
				<span class="breadcrumb_name" itemprop="name">Home</span>
			</a>
			<meta itemprop="position" content="1">
		</div>
		{% for link in links %}
			<div class="breadcrumb_item" itemscope itemprop="itemListElement" itemtype="http://schema.org/ListItem">
				{% if loop.last %}
					<span class="breadcrumb_label" itemprop="item">
						<span class="breadcrumb_name" itemprop="name">{% if link.name %}{{link.name}}{% elseif link %}{{link}}{% endif %}</span>
					</span>
				{% else %}
					<a class="breadcrumb_link" href="{% if link.href %}{{link.href}}{% else %}#{% endif %}" itemprop="item">
						<span class="breadcrumb_name" itemprop="name">{% if link.name %}{{link.name}}{% elseif link %}{{link}}{% endif %}</span>
					</a>
				{% endif %}
				<meta itemprop="position" content="{{loop.index + 1}}">
			</div>
		{% endfor %}
	</div>
</div>
