<!DOCTYPE html>
<html class="no-js" lang="en" itemscope="" itemtype="http://schema.org/WebPage">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">

		<title>{{pageTitle|default("Page")}} | {{vars.name}}</title>
		<meta name="description" content="">

		{% include "../partials/favicons.html" %}

		<!-- G+ & Facebook -->
		<meta property="og:title" content="{{vars.name}}">
		<meta property="og:url" content="//{{vars.domain}}/">
		<meta property="og:type" content="website">
		<meta property="og:image" content="//{{vars.domain}}/images/social-rectangle.png">
		<meta property="og:description" content="">
		<meta property="og:site_name" content="{{vars.name}}">

		<!-- Twitter -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@{{vars.twitter}}">
		<meta name="twitter:creator" content="@{{vars.twitter}}">
		<meta name="twitter:url" content="//twitter.com/{{vars.twitter}}">
		<meta name="twitter:title" content="{{vars.name}}">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="//{{vars.domain}}/images/social-rectangle.png">

		<script src="../../js/modernizr.js"></script>

		{% block stylesheets %}
		{% endblock %}

		<!--[if gt IE 8]><!-->
			<link rel="stylesheet" href="../../css/site.css">
		<!--<![endif]-->
		<!--[if IE 8]>
			<script>var IE8 = true;</script>
			<script src="../../js/site-ie8.js"></script>
			<link rel="stylesheet" href="../../css/site-ie8.css">
		<![endif]-->
		<!--[if IE 9]>
			<script>var IE9 = true;</script>
			<script src="../../js/site-ie9.js"></script>
			<link rel="stylesheet" href="../../css/site-ie9.css">
		<![endif]-->
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../css/site-ie.css">
		<![endif]-->
	</head>

	{% block layout %}
		{% set layout = "default" %}
	{% endblock %}

	<body class="fs-grid theme_{{layout}}">

		{#
			TODO:
				Update Navigation Blocks in package.json
				Backend Devs can remove this section
		#}

		{% block activePage %}
			{% set activePage = 0 %}
		{% endblock %}

		{% block sectionTitle %}
			{% set sectionTitle = "" %}
		{% endblock %}

		{% block mainNavLinks %}
			{% set mainNavLinksAlias = mainNavLinks %}
		{% endblock %}

		{% block breadcrumbNavLinks %}
			{% set breadcrumbNavLinks = [
				pageTitle|default("Page")
			] %}
		{% endblock %}

		{% block subNavLinks %}
			{% set subNavLinksAlias = subNavLinks %}
		{% endblock %}

		{% block secondaryNavLinks %}
			{% set secondaryNavLinksAlias = secondaryNavLinks %}
		{% endblock %}

		{% block utilityNavLinks %}
			{% set utilityNavLinksAlias = utilityNavLinks %}
		{% endblock %}

		{% block quickNavLinks %}
			{% set quickNavLinksAlias = quickNavLinks %}
		{% endblock %}

		{% block footerNavLinks %}
			{% set footerNavLinksAlias = footerNavLinks %}
		{% endblock %}

		{% block socialNavLinks %}
			{% set socialNavLinksAlias = socialNavLinks %}
		{% endblock %}

		{% include '../partials/update-notice.twig' %}

		{% import '../partials/macros.twig' as site %}

		{# End: Backend Dev removable blocks #}

		<!-- Skip-to-Content Link -->
		<a class="skip_link" id="skip_to_content" href="#main_content" >Skip to Main Content</a>

		<!-- Page Wrapper -->
		<div class="js-navigation_push page_wrapper">
			<!-- Header -->
			<header class="header" id="header" itemscope itemtype="http://schema.org/WPHeader">
				<div class="row">
					{% include "../partials/logo.twig" with {
						modifier: "header"
					} %}

					{% include "../partials/navigation/main.twig" with {
						modifier: "lg",
						title: "Site Navigation",
						links: mainNavLinksAlias,
						active: activePage
					} %}

					{% include "../partials/navigation/basic.twig" with {
						class: "secondary_nav",
						modifier: "lg",
						title: "Secondary Navigation",
						links: secondaryNavLinksAlias
					} %}

					<a class="js-nav_handle mobile_sidebar_handle" href="#mobile_sidebar">Menu</a>

					<a class="site_search_handle" href="#site_search_lg">
						<span class="site_search_handle_label">Search</span>
						<span class="site_search_handle_icon">{{site.symbol("search")}}</span>
					</a>

					{% include "../partials/search.twig" with {
						modifier: "",
						placeholder: "Search",
						buttonText: "submit"
					} %}
				</div>
			</header>
			<!-- END: Header -->

			<!-- Page -->
			<div class="page">
				<!-- Page Feature -->
				<div class="page_feature">
					{% block page_feature %}{% endblock %}
				</div>
				<!-- END: Page Feature -->

				<!-- Page Content -->
				<div class="page_content">
					<div class="row">
						{% if layout == "default" %}
							<!-- Sub Nav -->
							<div class="subnav_cell">
								{% block subNav %}
									{% include "../partials/navigation/sub.twig" with {
										title: sectiontitle,
										links: subNavLinksAlias
									} %}
								{% endblock %}
							</div>
							<!-- END: Sub Nav -->
						{% endif %}

						<!-- Main Content -->
						<div class="main_content_cell">
							<main class="main_content" id="main_content" itemprop="mainContentOfPage">
								<!-- Page Header -->
								{% block page_header %}
									<div class="page_header">
										{% include "../partials/navigation/breadcrumb.twig" with {
											links: breadcrumbNavLinks
										} %}

										{% if pageTitle %}
											<div class="typography">
												<h1 class="page_title" id="page_title">{{pageTitle}}</h1>
											</div>
										{% endif %}
									</div>
								{% endblock %}
								<!-- END: Page Header -->

								<!-- WYSIWYG - wrap all WYSIWYG text areas in `.typography` -->
								<div class="typography">
									{% block typography %}{% endblock %}
								</div>
								<!-- END: WYSIWYG -->

								<!-- In Content Callouts -->
								<div class="in_content_callouts">
									{% block in_content_callouts %}{% endblock %}
								</div>
								<!-- END: In Content Callouts -->
							</main>
						</div>
						<!-- END: Main Content -->

						{% if layout == "default" %}
							<!-- Sidebar Callouts -->
							<div class="sidebar_cell">
								<div class="sidebar" itemscope itemtype="http://schema.org/WPSideBar">
									{% block sidebar %}{% endblock %}
								</div>
							</div>
							<!-- END: Sidebar Callouts -->
						{% endif %}
					</div>

					<!-- Full Width Callouts -->
					<div class="full_width_callouts">
						{% block full_width_callouts %}{% endblock %}
					</div>
					<!-- END: Full Width Callouts -->
				</div>
				<!-- END: Page Content -->
			</div>
			<!-- END: Page -->

			<!-- Footer -->
			<footer class="footer" id="footer" itemscope itemtype="http://schema.org/WPFooter">
				<div class="row">
					<div class="footer_address" itemscope itemtype="http://schema.org/PostalAddress">
						<span class="footer_address_name" itemprop="name">name</span>
						<span class="footer_address_street" itemprop="streetAddress">street</span>
						<span class="footer_address_city" itemprop="addressLocality">city</span>
						<span class="footer_address_state" itemprop="addressRegion">state</span>
						<span class="footer_address_zip" itemprop="postalCode">zip</span>
						<a class="footer_address_phone" itemprop="telephone" href="tel:">###-###-###</a>
					</div>

					{% include "../partials/navigation/basic.twig" with {
						class: "footer_nav",
						title: "Footer Navigation",
						links: footerNavLinksAlias
					} %}

					{% include "../partials/navigation/social.twig" with {
						title: "Social Navigation",
						links: socialNavLinksAlias
					} %}
				</div>
			</footer>
			<!-- END: Footer -->
		</div>
		<!-- END: page_wrapper -->

		<div class="js-navigation mobile_sidebar" id="mobile_sidebar" hidden data-navigation-handle=".js-nav_handle" data-navigation-content=".js-navigation_push" data-navigation-options='{"type": "overlay", "gravity": "right"}'>
			{% include "../partials/navigation/main.twig" with {
				modifier: "sm",
				links: mainNavLinksAlias,
				active: activePage
			} %}

			{% include "../partials/navigation/basic.twig" with {
				class: "secondary_nav",
				modifier: "sm",
				title: "Secondary Navigation",
				links: secondaryNavLinksAlias
			} %}
		</div>

		{% block javascript %}
		{% endblock %}

		<script src="../../js/site.js"></script>

		<!-- Grid Bookmarklet -->
		<script>
			var grid = document.createElement('div');
			grid.classList.add('helper-grid');

			var xs = document.createElement('span');
			xs.classList.add('helper-cell');
			xs.innerHTML = 'xs';

			var sm = document.createElement('span');
			sm.classList.add('helper-cell');
			sm.innerHTML = 'sm';

			var md = document.createElement('span');
			md.classList.add('helper-cell');
			md.innerHTML = 'md';

			var lg = document.createElement('span');
			lg.classList.add('helper-cell');
			lg.innerHTML = 'lg';

			var xl = document.createElement('span');
			xl.classList.add('helper-cell');
			xl.innerHTML = 'xl';

			grid.appendChild(xs);
			grid.appendChild(sm);
			grid.appendChild(md);
			grid.appendChild(lg);
			grid.appendChild(xl);

			document.body.appendChild(grid);

			var cell = document.querySelectorAll('.helper-cell');
			var activeCell = 'helper-cell-active';

			window.addEventListener('load', determineCells);
			window.addEventListener('resize', determineCells);

			function determineCells() {
				var windowWidth = window.innerWidth;

				for(var i = 0; i < cell.length; i++) {
					cell[i].classList.remove(activeCell);
				}

				if(windowWidth >= 320 && windowWidth < 500) {
					xs.classList.add(activeCell);
				}

				if(windowWidth >= 500 && windowWidth < 740) {
					sm.classList.add(activeCell);
				}

				if(windowWidth >= 740 && windowWidth < 980) {
					md.classList.add(activeCell);
				}

				if(windowWidth >= 980 && windowWidth < 1220) {
					lg.classList.add(activeCell);
				}

				if(windowWidth >= 1220) {
					xl.classList.add(activeCell);
				}
			}
		</script>
		<style>
			.helper-grid {
				position: fixed;
				bottom: 0;
				left: 0;
				z-index: 1000;

				background: rgba(20, 20, 20, .925);
				box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
				display: flex;
				padding: 3px;
			}

				.helper-cell {
					color: #fff;
					display: inline-block;
					font-size: 12px;
					padding: 2px 5px;
					vertical-align: top;
				}

				.helper-cell-active {
					background: #fff;
					color: #000;
				}
		</style>
	</body>
</html>
